# Temporary files
*~
\#*
.\#*

# Python environment.
env/*

# Compiled files
*__pycache__*

# Packaging files
build/*
dist/*
swiftsimio.egg-info

# Test data
test_data/*

# Code coverage
htmlcov/*
.coverage

# MacOS
*.DS_Store

# Formatting venv
black_formatting_env/*

# Leftovers
*.png
*.hdf5
*.pkl