[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["swiftsimio", "swiftsimio.initial_conditions", "swiftsimio.metadata", "swiftsimio.metadata.cosmology", "swiftsimio.metadata.metadata", "swiftsimio.metadata.particle", "swiftsimio.metadata.unit", "swiftsimio.metadata.writer", "swiftsimio.visualisation", "swiftsimio.visualisation.projection_backends", "swiftsimio.visualisation.tools"]

[project]
name = "swiftsimio"
version="7.0.2"
authors = [
    { name="Josh Borrow", email="josh@joshborrow.com" },
]
description="SWIFTsim (swift.dur.ac.uk) i/o routines for python."
readme = "README.md"
requires-python = ">3.8.0"
classifiers = [
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "License :: OSI Approved :: GNU Lesser General Public License v3 or later (LGPLv3+)",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy",
    "h5py",
    "unyt>=2.9.0",
    "numba>=0.50.0",
]

[project.urls]
"Homepage" = "https://github.com/SWIFTSIM/swiftsimio"
"Bug Tracker" = "https://github.com/SWIFTSIM/swiftsimio/issues"
"Documentation" = "https://swiftsimio.readthedocs.io/en/latest"

[project.scripts]
swiftsnap = "swiftsimio.swiftsnap:swiftsnap"
