name: Run tests

on:
  schedule:
    - cron: '19 3 * * 1-5'
  push:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: astral-sh/ruff-action@v3
      - name: Ruff style checks
        run: ruff check
      - name: Ruff formatting checks
        run: ruff format --check --diff
      - name: Checkout swiftsimio
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install numpydoc
        run: pip install numpydoc
      - name: Run docstring validation
        run: python -m numpydoc lint **/*.py

  tests:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "~3.13.0 <= 3.13.3 || ~3.13.5"]  # exclude 3.13.4

    services:
      hdfstream:
        image: ghcr.io/jchelly/hdfstream-api:0.0.2

    steps:
    - name: Checkout swiftsimio
      uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Cache pip
      uses: actions/cache@v4
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ runner.os }}-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f optional_requirements.txt ]; then pip install -r optional_requirements.txt; fi
        pip install -e .
    - name: Test with pytest
      run: |
        pytest
      env:
        NUMBA_BOUNDSCHECK: 1
